<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout-pro-demo</title>
        <!-- <link rel="stylesheet" href="./../../node_modules/element-ui/lib/theme-chalk/index.css" /> -->
    </head>

    <body class="edit">

        <div id="app"></div>

        <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/jquery-2.0.0.min.js"></script>
        <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/bootstrap.min.js"></script>
        <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/jquery-ui.js"></script>
        <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/jquery.htmlClean.js"></script>
        <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/ckeditor/ckeditor.js"></script>
        <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/ckeditor/config.js"></script>
        <!-- <script src="<%= htmlWebpackPlugin.options.templateParameters.static %>/scripts.js"></script> -->
    </body>
</html>
